
Copy code
<div class="row">
    <div class="col-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="#" class="list-group-item clearfix" 
        *ngFor="let recipe of recipes">
            <div class="float-start">
                <h4 class="fw-bold">{{recipe.name}} </h4>
                <p class="text-muted">{{recipe.description}}</p>
            </div>
            <span class="float-end">
                <img class="img-fluid" 
                src="{{recipe.imagePath}}"
                 alt="{{recipe.name}}" 
                 style="max-height: 50px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>